{template header}
<div id="middle">
<div id="c90">
<div class="t3 bcb"><div class="t3t bgb">{lang menu_collect}</div></div>
<div class="b3 bcb mb12">
<div class="w100">
<br />
<table cellspacing="0" cellpadding="0" width="100%" border="0">
<tr valign="middle">
<td width="10%" height="35" class="f14">{lang menu_collect_url}:</td>
<td width="90%"><a href="{$collect_url}">{$collect_url}</a></td></tr>
<tr valign="middle">
<td width="10%" height="50" class="f14">{lang menu_collect_title}:</td>
<td width="90%" class="f14b">{$collect_title}</td></tr>

<tr valign="middle">
<td width="10%" height="50" class="f14" valign="top">{lang menu_collect_content}:</td>
<td width="90%"><div>{$collect_content}</div></td></tr>
</table>
<br />
</div>
</div>
</div>
</div>
{template footer}