<div id="ft">
<hr width="98%" size="1" color="#d6e0ef" />
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="padding: 5px 0px;">
<td>
<a href="mailto:{$adminemail}">{lang button_contactus}</a> - <a href="{$site_url}" target="_blank">{$site_name}</a>
</td>
<td align="right" style="font-size: 11px">
Powered by <a href="http://www.cyask.com" target="_blank" style="color: blue"><b>Cyask</b></a> <b style="color:#68d300">{$cyask_version}</b>
&nbsp;&copy; 2006-2007
</td>
</tr>
</table>
</div>
</div>
</body>
</html>
