<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset={$charset}">
<title>{lang menu_usercenter} - Powered By cyask</title>
<meta content="{lang meta_description}" name=description>
<meta content="{lang meta_keywords}" name=keywords>
<meta content="{lang meta_author}" name=author>
<link href="{$styledir}/1000ask.css" type=text/css rel=stylesheet>
<script type="text/javascript">
function disQstate(s)
{ 
	switch (s)
	{
		case 1:var op='<img src="{$web_path}{$styledir}/icn_time.gif" alt="{lang menu_nosolve_ques}">';break;
		case 2:var op='<img src="{$web_path}{$styledir}/icn_ok.gif"  alt ="{lang menu_solve_ques}">';break;
		case 3:var op='<img src="{$web_path}{$styledir}/icn_vote.gif" alt="{lang menu_vote_ques}">';break;
		case 4:var op='<img src="{$web_path}{$styledir}/icn_cancel.gif" alt="{lang menu_closed_ques}">';break;
		default: var op='{lang menu_unknown_ques}';
	}
	document.write(op);
}
</script>
</head>
<body style="background:url(images/mainbg.gif)">
<div id=main align="center">
<table width="100%" align=center border=0>
<tr height="60">
<td valign="top" width="170" height="69">&nbsp;<a href="./"><img src="{$styledir}/1000ask.gif" border=0></a></td>
<td><table cellspacing=0 cellpadding=0 width="99%" border=0>
     <tr><td class=blueBG height=25 align="left">&nbsp;&nbsp;<b class=p14>{lang menu_usercenter}</b> &nbsp;<a href='./'>{lang button_back_index}</a></td>
          <td class=blueBG width=300 height=25 align=right>
          {lang menu_welcome} <b>{$cyask_user}</b> &nbsp;&nbsp;<a href="login.php?command=logout">{lang button_logout}</a>&nbsp;&nbsp;
          </td>
      </tr></table>
</td></tr>
</table>
<br />
<div id="leftw">
<table class="pad10L" cellspacing="1" cellpadding="0" width="100%" border="0">
<!--{if $command=='mymessage'}-->
<tr><td class="blueBG f14" height="22">{lang menu_my_message}</td></tr>
<!--{else}-->
<tr><td class="f14" height=22><a href="my.php?command=mymessage">{lang menu_my_message}</a></td></tr>
<!--{/if}-->
<!--{if $command=='myask'}-->
<tr><td class="blueBG f14" height=22>{lang menu_my_question}</td></tr>
<!--{else}-->
<tr><td class="f14" height=22><a href="my.php?command=myask">{lang menu_my_question}</a></td></tr>
<!--{/if}-->
<!--{if $command=='myanswer'}-->
<tr><td class="blueBG f14" height=22>{lang menu_my_answer}</td></tr>
<!--{else}-->
<tr><td class="f14" height=22><a href="my.php?command=myanswer">{lang menu_my_answer}</a></td></tr>
<!--{/if}-->
<!--{if $command=='mycollect'}-->
<tr><td class="blueBG f14" height=22>{lang menu_my_collect}</td></tr>
<!--{else}-->
<tr><td class="f14" height=22><a href="my.php?command=mycollect">{lang menu_my_collect}</a></td></tr>
<!--{/if}-->
<!--{if $command=='myoverdue'}-->
<tr><td class="blueBG f14" height=22>{lang menu_my_overdue}</td></tr>
<!--{else}-->
<tr><td class="f14" height=22><a href="my.php?command=myoverdue">{lang menu_my_overdue}</a></td></tr>
<!--{/if}-->
<!--{if $command=='myscore'}-->
<tr><td class="blueBG f14" height=22>{lang menu_my_score}</td></tr>
<!--{else}-->
<tr><td class="f14" height=22><a href="my.php?command=myscore">{lang menu_my_score}</a></td></tr>
<!--{/if}-->
<!--{if $command=='myinfo'}-->
<tr><td class="blueBG f14" height=22>{lang menu_my_info}</td></tr>
<!--{else}-->
<tr><td class="f14" height=22><a href="my.php?command=myinfo">{lang menu_my_info}</a></td></tr>
<!--{/if}-->
<!--{if $command=='upinfo'}-->
<tr><td class="blueBG f14" height=22>{lang menu_upinfo}</td></tr>
<!--{else}-->
<tr><td class="f14" height=22><a href="my.php?command=upinfo">{lang menu_upinfo}</a></td></tr>
<!--{/if}-->
<!--{if $command=='uppassword'}-->
<tr><td class="blueBG f14" height=22>{lang menu_uppw}</td></tr>
<!--{else}-->
<tr><td class="f14" height=22><a href="my.php?command=uppassword">{lang menu_uppw}</a></td></tr>
<!--{/if}-->
</table>
</div>
<div id="rightw">
<!--{if $command=='myscore'}-->
<div class="mt mgb">{lang menu_my_score}</div>
<div class="mb mcb">
<div class="w100">
<table cellspacing=2 cellpadding=3 width="100%" height=160 border=0>
<tr><td valign="top" width="33%">
      <TABLE cellSpacing=1 cellPadding=3 width=100% bgColor="#dbdbdb" border="0">
       <TR><TD class="pad10L" bgColor="#ffffff"><div align=center>{lang menu_score_statistics}</div></TD></TR>
        <TR bgColor=#ffffff><TD class="pad10L tbPad10" valign=center height=60>
            <TABLE cellSpacing=0 cellPadding=3 width="100%" border=0>
               <TR><TD width=100><DIV align=right>{lang menu_totalscore}:</DIV></TD>
                   <TD><SPAN class=f14>{$totalscore}</SPAN></TD></TR>
             </TABLE></TD></TR>
       </TABLE>
     </td>
     <td valign=top width="33%">
       <TABLE cellspacing=1 cellpadding=3 width=100% bgColor=#dbdbdb border=0>
        <TR><TD class=pad10L noWrap bgColor=#ffffff><DIV align=center>{lang menu_answer_statistics}</DIV></TD></TR>
        <TR bgColor=#ffffff><TD class="pad10L tbPad10" valign=center height=60>
            <TABLE cellspacing=0 cellpadding=3 width="100%" border=0>
              <TR><TD noWrap width=100><DIV align=right>{lang menu_answer_totalcount}:</DIV></TD>
                   <TD>{$answercount}</TD></TR>
              <TR><TD width=100><DIV align=right>{lang menu_answer_adoptcount}:</DIV></TD>
                  <TD>{$adoptcount}</TD></TR>
              <TR><TD width=100><DIV align=right>{lang menu_answer_adoptvalage}:</DIV></TD>
				<TD>{$rightvalage}</TD></TR>
             </TABLE>
            </TD></TR>
        </TABLE>
	</td>
    <td valign=top width="33%">
      <TABLE cellSpacing=1 cellPadding=3 width=100% bgColor=#dbdbdb border=0>
        <TR><TD class=pad10L noWrap bgColor=#ffffff><DIV align=center>{lang menu_ques_statistics}</DIV></TD></TR>
        <TR bgColor=#ffffff><TD class="pad10L tbPad10" vAlign=center height=60>
             <TABLE cellSpacing=0 cellPadding=3 width="100%" border=0>
                <TR><TD width=100><DIV align=right>{lang menu_ques_totalcount}:</DIV></TD>
                    <TD>{$question_allcount}</TD></TR>
                <TR><TD width=100><DIV align=right>{lang menu_solve_ques_count}:</DIV></TD>
                    <TD>{$questionOK}</TD></TR>
                <TR><TD width=100><DIV align=right>{lang menu_nosolve_ques_count}:</DIV></TD>
                    <TD>{$questionASK}</TD></TR>
				<TR><TD width=100><DIV align=right>{lang menu_vote_ques_count}:</DIV></TD>
                    <TD>{$questionVOTE}</TD></TR>
				<TR><TD width=100><DIV align=right>{lang menu_closed_ques_count}:</DIV></TD>
                    <TD>{$questionCLOSE}</TD></TR>
             </TABLE></TD></TR>
       </TABLE>
    </TD>
 </TR>
</table>
<table cellspacing="2" cellpadding="3" width="100%" height="160" border="0">
<TR>
     <td valign="top" width="33%">
       <table cellspacing="1" cellpadding="3" width="100%" bgColor="#dbdbdb" border="0">
        <TR><TD class="pad10L" bgColor="#ffffff"><DIV align=center>{lang menu_collect_statistics}</DIV></TD></TR>
        <TR bgColor=#ffffff><TD class="pad10L tbPad10" valign=center height=60>
            <TABLE cellspacing=0 cellpadding=3 width="100%" border=0>
              <TR><TD noWrap width=100><DIV align=right>{lang menu_collect_totalcount}</DIV></TD>
                   <TD>{$collectcount}</TD></TR>
             </TABLE>
            </TD></TR>
        </table>
	</td>
    <td valign="top" width="33%">
      <table cellspacing=1 cellpadding="3" width="100%" bgColor="#dbdbdb" border="0">
       </table>
    </td>
     <td valign="top" width="33%">
      <table cellspacing=1 cellpadding="3" width="100%" bgColor="#dbdbdb" border="0">
       </table>
    </td>
 </TR>
</TABLE>
</div>
</div>
<!--{elseif $command=='myask'}-->
<div class="mt mgb">{lang menu_my_question} &nbsp;&nbsp;( {$quescount} )</div>
<div class="mb mcb">
<div class="w100">
<table cellspacing=0 cellpadding=0 width="100%" height="320" border=0 valign="top">
<!--{if $quescount}-->
<TR><TD width="60%" align=center height=30>{lang menu_ques_title}</TD>
    <TD width="8%" align=center>{lang menu_ques_score}</TD>
	<TD width="8%" align=center>{lang menu_answer_count}</TD>
    <TD width="8%" align=center>{lang menu_ques_status}</TD>
    <TD width="15%"><DIV align=center>{lang menu_ques_time}</DIV></TD>
	</TR>
<!--{/if}-->
<!--{loop $ques_list $question}-->
<tr><td class="linetop f14" vAlign=center height=25>·<a href="question.php?qid={$question['qid']}" target="_blank" title="{$question['title']}">{$question['stitle']}</a></TD>
    <td class=linetop vAlign=center align=middle><FONT color=red>{$question['score']}</FONT></td>
	<td class=linetop vAlign=center align=middle><FONT color=#333333>{$question['answercount']}</FONT></td>
    <td class=linetop vAlign=center align=middle><SCRIPT>disQstate({$question['status']});</SCRIPT></td>
    <td class=linetop vAlign=center align=middle>{$question['asktime']}</td></tr>
<!--{/loop}-->
<tr><td colspan=5>&nbsp;</td></tr>
<tr><td align="center" colspan=5>
<!--{if $page>1}-->
<a href="my.php?command={$command}&page=1">{lang page_first}</a>
<a href="my.php?command={$command}&page={$page_front}">{lang page_front}</a>                                                                                                                                                
<!--{/if}-->
<!--{if $pagecount>1}-->{$pagelinks}<!--{/if}-->
<!--{if $page<$pagecount}-->
<a href="my.php?command={$command}&page={$page_next}">{lang page_next}</a>                                                                                                                        
<a href="my.php?command={$command}&page={$pagecount}">{lang page_last}</a>
<!--{/if}-->
</td></tr>
</table>
</div>
</div>
<!--{elseif $command=='myoverdue'}-->
<div class="mt mgb">{lang menu_my_overdue} &nbsp;&nbsp;( {$quescount} )</div>
<div class="mb mcb">
<div class="w100">
<table cellspacing=0 cellpadding=0 width="100%" height="320" border="0" valign="top">
<!--{if $quescount}-->
<TR><TD width="60%" align=center height=30>{lang menu_ques_title}</TD>
    <TD width="8%" align=center>{lang menu_ques_score}</TD>
	<TD width="8%" align=center>{lang menu_answer_count}</TD>
    <TD width="8%" align=center>{lang menu_ques_status}</TD>
    <TD width="15%"><DIV align=center>{lang menu_ques_time}</DIV></TD>
	</TR>
<!--{/if}-->
<!--{loop $ques_list $question}-->
<tr><td class="linetop f14" vAlign=center height=25>·<A href="question.php?qid={$question['qid']}" target="_blank" title="{$question['title']}">{$question['stitle']}</A></TD>
    <td class=linetop vAlign=center align=middle><FONT color=red>{$question['score']}</FONT></td>
	<td class=linetop vAlign=center align=middle><FONT color=#333333>{$question['answercount']}</FONT></td>
    <td class=linetop vAlign=center align=middle><SCRIPT>disQstate({$question['status']});</SCRIPT></td>
    <td class=linetop vAlign=center align=middle>{$question['asktime']}</td></tr>
<!--{/loop}-->
<tr><td colspan=5>&nbsp;</td></tr>
<tr><td align="center" colspan=5>
<!--{if $page>1}-->
<a href="my.php?command={$command}&page=1">{lang page_first}</a>
<a href="my.php?command={$command}&page={$page_front}">{lang page_front}</a>                                                                                                                                                
<!--{/if}-->
<!--{if $pagecount>1}-->{$pagelinks}<!--{/if}-->
<!--{if $page<$pagecount}-->
<a href="my.php?command={$command}&page={$page_next}">{lang page_next}</a>                                                                                                                        
<a href="my.php?command={$command}&page={$pagecount}">{lang page_last}</a>
<!--{/if}-->
</td></tr>
</table>
</div>
</div>
<!--{elseif $command=='myanswer'}-->
<div class="mt mgb">{lang menu_my_answer} &nbsp;&nbsp;( {$answercount} )</div>
<div class="mb mcb">
<div class="w100">
<table cellspacing=0 cellpadding=0 width="100%" height="320" border="0">
<!--{if $answercount}-->
<TR><TD width="54%" align=center height=30>{lang menu_ques_title}</TD>
	<TD align=center width="9%">{lang menu_ques_score}</TD>
    <TD align=center width="6%">{lang menu_answer_response}</TD>
    <TD align=center width="7%">{lang menu_ques_status}</TD>
    <TD align=center width="11%">{lang menu_my_answer}</TD>
    <TD align=center width="13%">{lang menu_answer_time}</TD></TR>
<!--{/if}-->
<!--{loop $ques_list $question}-->
<TR><TD class="linetop f14" height=25>·<a href="response.php?aid={$question['aid']}" target=_blank title="{$question['title']}">{$question['stitle']}</A></TD>
     <TD class=linetop align=center valign=middle><FONT color="red">{$question['score']}</FONT></TD>
	 <TD class=linetop align=center valign=middle><FONT color="#333333">{$question['response']}</FONT></TD>
     <TD class=linetop align=center valign=middle><SCRIPT>disQstate({$question['status']});</SCRIPT></TD>
     <TD class=linetop align=center valign=middle><!--{if $question['adopttime']}--><font color="red">{lang ques_answer_adopt1}</font><!--{else}-->{lang ques_answer_adopt0}<!--{/if}--></TD>
     <TD class=linetop align=center valign=middle><!--{$question['answertime']}--></TD></TR> 
<!--{/loop}-->
<tr><td colspan=6>&nbsp;</td></tr>
<tr><td align=center colspan=6>
<!--{if $page>1}-->
<a href="my.php?command={$command}&page=1">{lang page_first}</a>
<a href="my.php?command={$command}&page={$page_front}">{lang page_front}</a>                                                                                                                                                
<!--{/if}-->
<!--{if $pagecount>1}-->{$pagelinks}<!--{/if}-->
<!--{if $page<$pagecount}-->
<a href="my.php?command={$command}&page={$page_next}">{lang page_next}</a>                                                                                                                        
<a href="my.php?command={$command}&page={$pagecount}">{lang page_last}</a>
<!--{/if}-->
</td></tr>
</table>
</div>
</div>
<!--{elseif $command=='mycollect'}-->
<div class="mt mgb">{lang menu_my_collect} &nbsp;&nbsp;( {$collectcount} )</div>
<div class="mb mcb">
<div class="w100">
<table cellspacing=0 cellpadding=0 width="100%" height="320" border="0">
<script language="javascript">
function disQstate(s)
{ 
	switch (s)
	{
		case 1: var op="{lang menu_public}";break;
		default: var op="{lang menu_hidden}";
	}
	document.write(op);
}
function disCtype(s)
{ 
	switch (s)
	{
		case 1: var op="{lang menu_collect_class1}";break;
		case 2: var op="{lang menu_collect_class2}";break;
		default: var op="NO";
	}
	document.write(op);
}
function deleteit()
{
	if( !confirm("{lang confirm_del_collect}")) return false;
	else return true;
}
</script>
<!--{if $collectcount}-->
<TR><TD width="26%" align="center" height="30">{lang menu_collect_title}</TD>
    <TD align="center" width="30%">{lang menu_collect_url}</TD>
    <TD align="center" width="10%">{lang menu_collect_type}</TD>
    <TD align="center" width="10%">{lang menu_collect_status}</TD>
    <TD align="center" width="10%">{lang menu_collect_time}</TD>
    <TD align="center" width="7%">{lang button_browsing}</TD>
    <TD align="center" width="7%">{lang button_delete}</TD>
    </TR>
<!--{/if}-->
<!--{loop $collect_list $collect}-->
<tr><td class="linetop" height=25>·<a href="readc.php?id={$collect['id']}" title="{$collect['title']}" target="_blank">{$collect['stitle']}</a></td>
    <td class="linetop" align="center" valign="middle"><a href="{$collect['url']}" target="_blank">{$collect['surl']}</a></td>
    <td class="linetop" align="center" valign="middle"><script type="text/javascript">disCtype({$collect['ctype']});</script></td>
    <td class="linetop" align="center" valign="middle"><script type="text/javascript">disQstate({$collect['public']});</script></td>
    <td class="linetop" align="center" valign="middle">{$collect['time']}</td>
    <td class="linetop" align="center" valign="middle">{$collect['click']}</td>
    <td class="linetop" align="center" valign="middle"><a href="my.php?command=delcollect&id={$collect['id']}&page={$page}" onclick="if( !deleteit() ) return false;">{lang button_delete}</a></td>
    </tr> 
<!--{/loop}-->
<tr><td colspan="7">&nbsp;</td></tr>
<tr><td align="center" colspan="7">
<!--{if $page>1}-->
<a href="my.php?command={$command}&page=1">{lang page_first}</a>
<a href="my.php?command={$command}&page={$page_front}">{lang page_front}</a>                                                                                                                                                
<!--{/if}-->
<!--{if $pagecount>1}-->{$pagelinks}<!--{/if}-->
<!--{if $page<$pagecount}-->
<a href="my.php?command={$command}&page={$page_next}">{lang page_next}</a>                                                                                                                        
<a href="my.php?command={$command}&page={$pagecount}">{lang page_last}</a>
<!--{/if}-->
</td></tr>
</table>
</div>
</div>

<!--{elseif $command=='mymessage'}-->
<div class="mt mgb">
<table cellspacing=0 cellpadding=0 width="100%" height=26 border=0>
<tr>
<td width=40%>
<!--{if $msgtype=='send'}-->
&nbsp;<b>{lang menu_send_box}( {$msg_list['count']} )</b>&nbsp;&nbsp;<a href="my.php?command={$command}&msgtype=receive">{lang menu_receive_box}</a>
<!--{elseif $msgtype=='receive'}-->
&nbsp;<a href="my.php?command={$command}&msgtype=send">{lang menu_send_box}</a>&nbsp;&nbsp;<b>{lang menu_receive_box} ( {$msg_list['count']} )</b>
<!--{/if}-->
&nbsp;<a href="my.php?command=sendmsg">{lang menu_send_message}</a>
</td>
</tr>
</table>
</div>
<div class="mb mcb">
<div class="w100">
<table cellspacing=0 cellpadding=0 width="100%" height="300" border="0">
<TR><TD width="45%" align=center height=30>{lang menu_ques_title}</TD>
	<TD align=center width="15%">{lang menu_send_time}</TD>
	<TD align=center width="10%">{lang menu_username}</TD>
    <TD align=center width="10%">{lang menu_ques_status}</TD>
    <TD align=center width="10%">{lang button_delete}</TD>
    </TR>
<!--{loop $msg_list['data'] $message}-->
<TR><TD class="linetop f14" height=25><!--{if $msgtype=='receive'}-->·<a href="my.php?command=readmsg&mid={$message['pmid']}">{$message['subject']}</a><!--{else}-->{$message['subject']}<!--{/if}--></TD>
    <TD class=linetop align=center valign=middle>{$message['dateline']}</TD>
    <TD class=linetop align=center valign=middle><a href="member.php?uid={$message['msgfromid']}" target="_blank">{$message['msgfrom']}</TD>
	<TD class=linetop align=center valign=middle><!--{if $message['new']}--><font color=red>{lang menu_read_status0}</font><!--{else}-->{lang menu_read_status1}<!--{/if}--></TD>
    <TD class=linetop align=center valign=middle><a href="my.php?command=delmessage&type={$msgtype}&mid={$message['pmid']}&page={$page}">{lang button_delete}</a></TD></TR>
<!--{/loop}-->
<tr><td colspan=6>&nbsp;</td></tr>
<tr><td align="center" colspan=6>
<!--{if $page>1}-->
<a href="my.php?command={$command}&page=1">{lang page_first}</a>
<a href="my.php?command={$command}&page={$page_front}">{lang page_front}</a>                                                                                                                                                
<!--{/if}-->
<!--{if $pagecount>1}-->{$pagelinks}<!--{/if}-->
<!--{if $page<$pagecount}-->
<a href="my.php?command={$command}&page={$page_next}">{lang page_next}</a>                                                                                                                        
<a href="my.php?command={$command}&page={$pagecount}">{lang page_last}</a>
<!--{/if}-->
</td></tr>
</table>
</div>
</div>
<!--{elseif $command=='myinfo'}-->
<div class="mt mgb">{lang menu_my_info}</div>
<div class="mb mcb">
<div class="w100">
<table cellspacing=2 cellpadding=2 width="100%" height="60" border="0">
<tr>
<td valign=top width="40%">
      <TABLE cellSpacing=1 cellPadding=3 width="100%" bgColor="#dbdbdb" border=0>
        <TR bgColor=#ffffff>
			<TD class="pad10L tbPad10" vAlign=center height=60>
            <TABLE cellSpacing=0 cellPadding=3 width="260" border=0>
               <TR><TD width=100 align=right>{lang menu_username}:</TD>
                   <TD width=160><SPAN class=f14>{$member_username}</SPAN></TD></TR>
               <TR><TD width=100 align=right>{lang menu_email}:</TD>
                   <TD width=160><SPAN class=f14>{$member_email}</SPAN></TD></TR>
               <TR><TD width=100 align=right>{lang menu_gender}:</TD>
                   <TD width=160><SPAN class=f14><!--{if $member_gender==1}-->{lang menu_man}<!--{elseif $member_gender==2}-->{lang menu_woman}<!--{else}-->{lang menu_baomi}<!--{/if}--></SPAN></TD></TR>
               <TR><TD width=100 align=right>{lang menu_birthday}:</TD>
                   <TD width=160><SPAN class=f14>{$member_bday}</SPAN></TD></TR>
             </TABLE></TD></TR>
    </TABLE>
</td>
<td valign=top width="60%">
      <TABLE cellSpacing=1 cellPadding=3 width="100%" bgColor="#dbdbdb" border=0>
        <TR bgColor=#ffffff>
			<TD class="pad10L tbPad10" vAlign=center height=60>
            <TABLE cellSpacing=0 cellPadding=3 width="100%" border=0>
               <TR><TD width=100 align=right>{lang menu_qq}:</TD>
                   <TD><SPAN class=f14>{$member_qq}</SPAN></TD></TR>
               <TR><TD width=100 align=right>{lang menu_msn}:</TD>
                   <TD><SPAN class=f14>{$member_msn}</SPAN></TD></TR>
               <TR><TD width="100" align="right" valign="top">{lang menu_signature}:</TD>
                   <TD>{$member_signature}</TD></TR>
             </TABLE></TD></TR>
    </TABLE>
</td>
</tr>
</table>
</div>
</div>
<!--{elseif $command=='upinfo'}-->
<div class="mt mgb">{lang menu_upinfo}</div>
<div class="mb mcb">
<div class="w100">
<table cellspacing=2 cellpadding=3 width="100%" border=0>
<script language="JavaScript">
function check_upinfo(theForm)
{
	if(theForm.email.value.indexOf("@")==-1 || theForm.email.value.indexOf(".")==-1 || theForm.email.value.length<7)
	{
      	document.getElementById("emailtip").innerHTML='<font color="red">{lang warning_email_error}</font>';
	  	theForm.email.focus();
      	return false;
	}
	else
	{
		document.getElementById("emailtip").innerHTML ='';
	}
	if(theForm.signature.value.length>500)
	{
      	document.getElementById("signaturetip").innerHTML='<font color="red">{lang warning_signature_lang}</font>';
      	return false;
	}
	else
	{
		document.getElementById("signaturetip").innerHTML='';
	}
}
</script>
<tr>
    <TD class="pad10L tbPad10" vAlign=center height=60>
       <table cellspacing=0 cellpadding=3 width="100%" border=0>
       <form name=upinfoForm action="my.php" method="post" onsubmit="return check_upinfo(this);" enctype="multipart/form-data">
         <TR><TD width=100 align=right>{lang menu_username}:</TD>
             <TD width=90%><SPAN class=f14>{$member_username}</SPAN></TD></TR>
         <TR><TD width=100 align=right>{lang menu_email}:</TD>
             <TD width=90%><SPAN class=f14><input type=text name="email" size=20 maxlength=45 value="{$member_email}"></SPAN>&nbsp;<span id=emailtip></span></TD></TR>
         <TR><TD width=100 align=right>{lang menu_gender}:</TD>
             <TD width=90%><SPAN class=f14><select name="gender"><option value=0 <!--{if $member_gender==0}-->selected<!--{/if}--> >{lang menu_baomi}</option><option value=1 <!--{if $member_gender==1}-->selected<!--{/if}--> >{lang menu_man}</option><option value=2 <!--{if $member_gender==2}-->selected<!--{/if}--> >{lang menu_woman}</option></select></SPAN></TD></TR>
         <TR><TD width=100 align=right>{lang menu_birthday}</TD>
             <TD width=90%><SPAN class=f14><input type=text name="bday" size=10 maxlength=10 value={$member_bday}></SPAN></TD></TR>
         <TR><TD width=100 align=right>{lang menu_qq}:</TD>
             <TD width=90%><SPAN class=f14><input type=text name="qq" size=20 maxlength=12 value="{$member_qq}"></SPAN></TD></TR>
         <TR><TD width=100 align=right>{lang menu_msn}:</TD>
             <TD width=90%><SPAN class=f14><input type=text name="msn" size=20 maxlength=40 value="{$member_msn}"></SPAN></TD></TR>
         <TR><TD width="100%" height="5" colspan="2">&nbsp;</TD></TR>
         <TR><TD width=100 align=right>&nbsp;</TD>
             <TD width=90%><SPAN class=f14>
             <input type="hidden" name="command" value="upinfosubmit" />
             <input type="hidden" name="formhash" value="{echo form_hash()}" />
             <input type="submit" name="upinfosubmit" value="{lang button_submit}" /></SPAN></TD></TR>
        </form>
        </table>
  </td>
 </TR>
</TABLE>
</div>
</div>
<!--{elseif $command=='uppassword'}-->
<div class="mt mgb">{lang menu_uppw}</div>
<div class="mb mcb">
<div class="w100">
<table cellspacing=2 cellpadding=3 width="100%" height="300" border=0>
<script language="JavaScript">
function check_password(theForm)
{
	if(theForm.opw.value == "")
	{
      		document.getElementById("pwtip").innerHTML = "<font color=red>{lang warning_old_pw}</font>";
	  	theForm.opw.focus();
      		return false;
	}
	else
	{
		document.getElementById("pwtip").innerHTML = "";
	}
	if(theForm.npw.value == "")
	{
      		document.getElementById("npwtip").innerHTML = "<font color=red>{lang warning_new_pw}</font>";
	  	theForm.npw.focus();
      		return false;
	}
	else
	{
		document.getElementById("npwtip").innerHTML = "";
	}
	if(theForm.npw.value != theForm.npw2.value)
        {
                document.getElementById("confirmtip").innerHTML = "<font color=red>{lang warning_new_pw2}</font>";
                theForm.npw2.focus();
                return false;
        }
	else
	{
		document.getElementById("confirmtip").innerHTML = "";
	}
}

</script>
<tr>
    <TD class="pad10L tbPad10" valign="top" height=60>
     <TABLE cellSpacing=0 cellPadding=0 width="100%" border=0>
      <form action="my.php" method="post" onsubmit="return check_password(this);">
       <tr>
      <td width="100" class="pad10L" height=30>{lang menu_username}:</td>
      <td>{$cyask_user}</td>
       </tr>
      <tr>
      <td class="pad10L">{lang menu_oldpw}:</td>
      <td><input name="opw" type="password" id="word" size="20">&nbsp;<span id=pwtip></span></td>
		</tr>
	<tr>
      <td class="pad10L">{lang menu_newpw}:</td>
      <td>
        <input name="npw" type="password" id="npw" size="20">&nbsp;<span id=npwtip></span>
      </td>
    </tr>
    <tr>
      <td class="pad10L" valign="top">{lang menu_confirmnewpw}:</td>
      <td valign="top">
        <input name="npw2" type="password" id="npw2" size="20">&nbsp;<span id=confirmtip></span></td>
    </tr>
    <tr>
      <td valign="top" class="pad10L">&nbsp;</td>
      <td valign="bottom">
        <br />
        <input type="hidden" value="uppwsubmit" name="command" />
		<input type="hidden" name="formhash" value="{echo form_hash()}" />
        <input type="submit" name="uppwsubmit" value="{lang button_submit}" />
      </td>
    </tr>
    </form>
    </TABLE>
  </td>
 </TR>
</TABLE>
</div>
</div>
<!--{elseif $command=='sendmsg'}-->
<div class="mt mgb">{lang menu_send_message}</div>
<div class="mb mcb">
<div class="w100">
<table cellspacing=2 cellpadding=3 width="100%" height=300 border=0>
<script type="text/javascript">
function check_sendmsg(theForm)
{
	if(theForm.username.value == '')
	{
      	document.getElementById("usertip").innerHTML = '<font color="red">{lang warning_msg_user_null}</font>';
	  	theForm.username.focus();
      	return false;
	}
	else
	{
		document.getElementById("usertip").innerHTML = '';
	}
	if(theForm.title.value == '')
	{
      	document.getElementById("titletip").innerHTML = '<font color="red">{lang warning_msg_content_null}</font>';
	  	theForm.title.focus();
      	return false;
	}
	else
	{
		document.getElementById("titletip").innerHTML = '';
	}
}

</script>
<tr>
    <TD class="pad10L tbPad10" vAlign=center height=60>
       <table cellspacing=0 cellpadding=3 width="100%" border=0>
       <form name="sendmsgForm" action="my.php" method="post" onsubmit="return check_sendmsg(this);" enctype="multipart/form-data">
         <TR><TD width=100 align=right>{lang menu_username}:</TD>
             <TD width=90%><SPAN class=f14><input type=text name="username" size=18 maxlength=16></SPAN>&nbsp;<span id=usertip></span></TD></TR>
         <TR><TD width=100 align=right>{lang menu_msg_title}:</TD>
             <TD width=90%><SPAN class=f14><input type=text name="title" size=30 maxlength=48></SPAN>&nbsp;<span id=titletip></span></TD></TR>
         <TR><TD width=100 align=right>{lang menu_msg_content}:</TD>
             <TD width=90%><SPAN class=f14><textarea name=content rows=10 cols=60></textarea></SPAN></TD></TR>
         <TR><TD width=100 align=right>&nbsp;</TD>
             <TD width=90%><SPAN class="f14">
             <input type="hidden" name="command" value="sendmsgsubmit" />
             <input type="hidden" name="formhash" value="{echo form_hash()}" />
             <input type="submit" name="sendmsgsubmit" value="{lang button_submit}" /></SPAN></TD></TR>
        </form>
        </table>
  </td>
 </TR>
</TABLE>
</div>
</div>
<!--{elseif $command=='readmsg'}-->
<div class="mt mgb">{lang menu_read_message}</div>
<div class="mb mcb">
<div class="w100">
<table cellspacing="2" cellpadding="3" width="100%" height="30" border="0">
<script language="javascript">
function check_sendmsg(theForm)
{
	if(theForm.title.value == "")
	{
      	document.getElementById("titletip").innerHTML = "<font color=red>{lang warning_msg_title_null}</font>";
	  	theForm.title.focus();
      	return false;
	}
	else
	{
		document.getElementById("titletip").innerHTML = "";
	}
}

</script>
<tr>
    <TD class="pad10L tbPad10" vAlign="top" height=30>
       <table cellspacing=0 cellpadding=3 width="100%" border=0>
         <TR><TD width=100 align=right></TD>
             <TD width=90%><SPAN class=f14>{$msg['msgfrom']} &nbsp;{$msg['dateline']}</TD></TR>
         <TR><TD width=100 align=right>{lang menu_msg_title}:</TD>
             <TD width=90%><SPAN class=f14>{$msg['subject']}</TD></TR>
         <TR><TD width=100 align=right>{lang menu_msg_content}</TD>
             <TD width=90%><SPAN class=f14><textarea name=content rows=6 cols=60>{$msg['message']}</textarea></SPAN></TD></TR>
        </table>
  </td>
 </tr>
</table>
<table cellspacing=2 cellpadding=3 width="95%" height=30 border=0>
 <tr><td valign="center" height=5><hr size=1 color="#cccccc" width="99%"><br />{lang menu_receive_message}</td></tr>
 <tr>
    <TD class="pad10L tbPad10" vAlign="top" height=60>
       <table cellspacing=0 cellpadding=3 width="100%" border=0>
       <form name="sendmsgForm" action="my.php" method="post" onsubmit="return check_sendmsg(this);">
         <TR><TD width=100 align=right>{lang menu_username}:</TD>
             <TD width=90%><SPAN class=f14>{$msg['msgfrom']}</span></TD></TR>
         <TR><TD width=100 align=right>{lang menu_msg_title}:</TD>
             <TD width=90%><SPAN class=f14><input type=text name="title" size="60" maxlength="50" value="reply: {$msg['subject']}"></SPAN>&nbsp;<span id=titletip></span></TD></TR>
         <TR><TD width=100 align=right>{lang menu_msg_content}:</TD>
             <TD width=90%><SPAN class=f14><textarea name=content rows=6 cols=60></textarea></SPAN></TD></TR>
         <TR><TD width=100 align=right>&nbsp;</TD>
             <TD width=90%><SPAN class="f14">
             <input type="hidden" name="command" value="replymsg" />
			 <input type="hidden" name='rpmid' value={$msg['pmid']} />
             <input type="hidden" name="fromuid" value="{$msg['msgfromid']}" />
             <input type="hidden" name="formhash" value="{echo form_hash()}" />
             <input type="submit" name="replymsgsubmit" value="{lang button_submit}" /></SPAN></TD></TR>
        </form>
        </table>
  </td>
 </tr>
</table>
</div>
</div>
<!--{/if}-->
</div>
{template footer}